.formar-Detail {
  padding: 10px 0 40px 0;
}

.formar-detail-1 {
  display: flex;
  padding: 16px;
  margin-bottom: 24px;
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  align-items: stretch;
}

.container-head {
  color: #003B49;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 24PX;

}

.arrow-icon {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
}

.formar-profile {
  margin-right: 20px;

}

.ash-icon {
  color: #b2b2b2;
}

.contact-info h1 {
  color: #111827;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 5px;
}

.contact-info p {
  color: #6B7280;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 5px;
}

.land-Preparation h2 {
  color: #111827;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 16px;
}

.land-Preparation {
  margin-bottom: 24px;
}

.land-Preparation-do-does {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.land-Preparation-do,
.land-Preparation-dont {
  flex: 1;
  border-radius: 6px;
  border: 1px solid #D1D5DB;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.dont-heading,
.do-heading {
  padding: 16px;
  text-align: left;
  text-transform: capitalize;

}

.do-heading {
  border-radius: 6px 6px 0px 0px;
  background: linear-gradient(90deg, #217D00 -47.44%, #52C234 132.69%);
}

.dont-heading {
  border-radius: 6px 6px 0px 0px;
  background: linear-gradient(90deg, #CB2D3E -34.62%, #EF473A 99.41%);
}

.do-contenet,
.dont-contenet {
  padding: 10px;
}

.do-heading h2,
.dont-heading h2 {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.do-heading .thumbs,
.dont-heading .thumbs {
  margin-right: 10px;
}

.land-Preparation-do-does p {
  color: #6B7280;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 12px;
}

.farmer-detail-contact {
  margin-bottom: 24px;
  display: flex;
  padding: 15px;
  align-items: center;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 6px;
}