.add-formar {
    padding: 40px 0;
}

.Add-form-Level {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 0 0 24px 0;
    border-bottom: 1px solid #D1D5DB;
}

.Add-form-Level-list {
    width: 33.33%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Add-form-Level-list h2 {
    border-radius: 50%;
    width: 35%;
    margin: 0 auto 10px;
    color: #D1D5DB;
    border: 1px solid #D1D5DB;
    text-align: center;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}

.Add-form-Level-list.active h2 {
    border: 1px solid #279A82;
    color: #279A82;
}

.Add-form-Level-list.active p {
    color: #279A82;
}



.Add-form-Level-list:nth-child(2)::after {
    content: "";
    position: absolute;
    right: 65%;
    top: 28%;
    width: 71%;
    border-bottom: 1px solid #D1D5DB;
    z-index: -1;
}

.Add-form-Level-list:nth-child(2).active::after {
    border-bottom: 1px solid #279A82;
}

.Add-form-Level-list:nth-child(3)::before {
    content: "";
    position: absolute;
    left: -35%;
    top: 28%;
    width: 70%;
    border-bottom: 1px solid #D1D5DB;
    z-index: -1;
}

.Add-form-Level-list:nth-child(3).active::before {
    border-bottom: 1px solid #279A82;
}

.form-container {
    max-width: 400px;
    margin: auto;
    padding: 40px 0;
    border-radius: 8px;
    text-align: left;
}

.form-detail h1 {
    color: #003B49;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    margin-bottom: 24px;
}

.ex-select {
    margin-bottom: 30px;
}


label {
    display: block;
    margin-bottom: 4px;
    color: #374151;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.add-formar input[type="text"],
.add-formar input[type="tel"],
.add-formar select {
    height: 48px;
    display: flex;
    padding: 9px 13px;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    width: 100%;

}

.add-formar input::placeholder {
    font-size: 12px;
}

.add-formar textarea::placeholder {
    font-size: 12px;
}


.add-formar input[type="text"]:focus,
.add-formar input[type="tel"]:focus,
.add-formar select:focus {
    border-color: #279A82;
    outline: none;
}

.add-formar input.input-error,
select.input-error {
    border: 1px solid #b3261e;
}

.add-formar input.input-error::placeholder,
select.input-error::placeholder {
    color: #b3261e;
}

.form-group {
    margin-bottom: 16px;
}

.form-group.child2 {
    margin-bottom: 24px;
}

.Para-list {
    color: #d1d5db;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}


.select-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-container select {
    padding-right: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: none;
}

.arrow-icons {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.error {
    color: #b3261e;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 4px;
}

.error-icon {
    margin-right: 4px;
}


.select-container select {
    color: #6B7280;
}

.select-container select option {
    color: #6B7280;
}

.select-container select option:disabled {
    color: #6B7280;
}

.select-container select:focus {
    color: #000;
}