.Header {
    padding: 20px 0;
}

.logo {
    width: 60%;
    margin: 0 auto 15px;
}

.logo img {
    width: 100%;
}

.logo-cnt {
    color: #003B49;
    font-family: "Alfa Slab One";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page {
    background-color: #fff;
    background-size: cover;
    background-blend-mode: overlay;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.home-btm {
    background-image: url('../../assets/Bg.png');
    background-size: 100% 100%;
    background-position: center;
    height: 85vh;
    color: #003B49;
    align-items: center;
    padding: 60px 0 0 0;
}

.home-btm-cnt h2 {
    color: #003B49;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 40px;
    line-height: 38px;
}

.home-btm-btn .btn {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.home-btm-btn .btn button {
    padding: 15px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.btm-pic img {
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.75s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}