.Header {
    padding: 20px 0;
}

.logo {
    width: 60%;
    margin: 0 auto 15px;
}

.logo img {
    width: 100%;
}

.logo-cnt {
    color: #003B49;
    font-family: "Alfa Slab One";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page {
    background-color: #fff;
    background-size: cover;
    background-blend-mode: overlay;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.home-btm {
    background-image: url('../../assets/BG.jpg');
    background-size: 100% 100%;
    background-position: center;
    height: 85vh;
    color: #003B49;
    width: 450px;
    margin: 0 auto;
    padding: 50px 0;
}

@media (max-width: 768px) {
    .home-btm {
      width: 100%;
    }
  }
  
.home-btm-cnt h2 {
    font-family: Inter;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 32px;
    width: 80%;

}

.home-btm-btn .btn {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.home-btm-btn .btn button {
    padding: 15px 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.btm-pic img {
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.75s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
    opacity: 0;
    animation: fadeIn 1s forwards;
    margin-bottom: 24px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: imageEntry 0.5s forwards;
    animation-delay: 0.2s;
}

@keyframes imageEntry {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-gallery img:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
    height: 265px;
}

.image-gallery img:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1;
    height: 160px;
}

.image-gallery img:nth-child(3) {
    grid-column: span 1;
    grid-row: span 1;
    height: 100px;
}

.image-gallery img:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
    height: 100px;
}

.image-gallery img:hover {
    transform: scale(1.1) translateY(-5px);
    filter: brightness(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}