.Header {
    padding: 20px 0;
}

.logo {
    width: 60%;
    margin: 0 auto 15px;
}

.logo img {
    width: 100%;
}

.logo-cnt {
    font-weight: bolder;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    text-transform: capitalize;
    color: #003B49;
    letter-spacing: 1px;
    font-family: 'Alfa Slab One', sans-serif;
}

.home-page {
    background-color: #fff;
    background-size: cover;
    background-blend-mode: overlay; 
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.home-btm {
    color: #003B49;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.home-btm-cnt h2 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    text-align: center;
    width: 90%;
    margin: 0 auto 25px;
    opacity: 0; 
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.home-btm-btn {
    width: 80%;
    margin: 0 auto;
}

.home-btm-btn .btn {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.home-btm-btn .btn button {
    padding: 15px 20px;
    text-align: center;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: transform 0.3s, background-color 0.3s; 
}

.home-btm-btn .btn button:hover {
    transform: scale(1.05);
}

.btm-pic img {
    width: 100%;
    height: 500px;
    opacity: 0; 
    animation: fadeIn 1s forwards;
    animation-delay: 0.75s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

